{% extends 'myapp/base.html' %}
{% block title %} contact {% endblock %}
{% block content %}
<div class="container">
	<div class="jumbotron col-md-6 mx-auto mt-5">
		<h2>Contact Us</h2>
		<p style="font-family:courier";style="font-size:160%"; style="font-size:300%";>Principal
Dr. A.V. Ratna Prasad
M.Tech(IIT.Kgp), Ph.D., FIE
Velagapudi Ramakrishna Siddhartha Engineering College
(Autonomous) Kanuru , Vijayawada
Andhra Pradesh – 520007,INDIA
Phone 1 : +91 866 2582334,2584930, Phone 2: 0866-2584204
Fax : +91 866 2582672
E-mail: principal@vrsiddhartha.ac.in
</p>
	</div>
</div>
{% endblock %}