{% extends 'myapp/base.html' %}
{% block title %} about {% endblock %}
{% block content %}
<div class="container">
	<div class="card mt-3 mx-auto col-md-6">
		<h2 class="bg-secondary text-center
		text-white mt-2">login</h2>
		<form method="POST">
			{% csrf_token %}
			<input type="text" name="username" class="
			form-control " placeholder="Enter username">
			<input type="password" name="password" class="
			form-control " placeholder="Enter password">
			<input type="submit" name="submit" value="Login"
			class="form-control btn btn-outline-success">
			<a href="{% url 'register' %}"class="btn
			 btn-outline-info">create acc/new user</a>
		</form>
	</div>
</div>
{% endblock %}