{% extends 'myapp/base.html' %}
{% block title %}Profile :: {{user.username}}{% endblock %}
{% block content %}

<div class="container">
	<div class="card col-md-6 mx-2">
			<h2 class="bg-primary text-center text-white mt-2";>update</h2>
			<form class="m-2" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<table class="table table-bordered">
					{% for data in c %}
					<tr>
						<td>{{data}}</td>
					</tr>
					{% endfor %}
					{% for info in y %}
					<tr>
						<td>{{info}}</td>
					</tr>
					{% endfor %}
				</table>
				<input type="submit" name="submit" value="Update">
			</form>
	</div>
</div>
{% endblock %}
